.Card {
  background-color: whitesmoke;
  color: #282c34;

  margin: 0.625rem 0;
  padding: 0.313rem;

  width: 100%;
  min-height: 8.75rem;
  max-width: 37.5rem;

  display: flex;
  align-items: center;
  flex-flow: column;

  border-radius: 0.313rem;
  box-shadow: 2px 3.5px 4.5px 4.5px rgba(0, 0, 0, 0.65);

  i {
    background-color: black;
    padding: 0.625rem;
    border-radius: 50%;

    > svg {
      color: white;
      width: 2.5rem;
      height: unset;
    }
  }

  div {
    width: 100%;

    > p {
      text-align: center;
    }
  }
}
